/*montserrat, roboto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400;1,500&display=swap');
/*common start*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
.c_padding{
	padding-top: 60px;
	padding-bottom: 30px;
}
.m_bot{
	margin-bottom: 100px;
}
/*common end*/ 
/*header start*/
header{
	background-color: #232536;
	padding-bottom: 8px;
}
.c_nav{
	padding-bottom: 0;
}
.logo{
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.nav_tog{
	box-shadow: none;
}
.nav_toggle{
	box-shadow: none;
}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	padding: 12px 35px 8px 0 !important;
	color: #fff !important;
}
.btn_c{
	width: 200px;
	display: inline-block;
	padding: 10px 20px;
	background-color: white;
	color: #333;
	border: 2px solid #333;
	border-radius: 0;
	text-decoration: none;
	font-weight: bold;
}
.btn_c:hover {
	background-color: #505F98;
	color: black;
}
.btn_c:active{
	background-color: #091133 !important;
	color: #FFFFFF !important; 
}
.menu ul li a:hover{
	color: #505F98 !important;
}
/*header end*/
/*banner start*/
.slider{
	padding: 15px;
	background-image: url(../img/men-in-black.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.s_item{
	margin: 180px 0 180px;
	color: black;
}
.c_ps{
	font-size: 13px;
	font-weight: normal;
	word-spacing: 1.2;
}
.c_ps span{
	font-size: 16px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.s_h1 {
	margin-top: 40px;
    margin-bottom: 160px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    color: white;
}
.j_w_yel{
	font-size: 16px;
	font-weight: 400;
	color: white;
    margin-bottom: 4px;

}
.j_w_yel span{
	color: #FFD050;
}
.s_p {
    margin-top: -130px;
    margin-bottom: 90px;
    line-height: 1.2;
    word-spacing: 10px;
    color: white;
}
.s_btn{
	font-weight: 600;
	width: 25%;
	padding: 20px;
	transition: .33s;
}
.s_btn:hover{
	color: #505F98;
}
.fa-arrow-right:before {
    margin-left: 10px;
    font-weight: 700;
}
.pre_nex{
	font-weight: 400;
	background: transparent;
	border: 0;
	transition: .33s;
}
.pre_nex:hover{
	color: #8e8e8e;
}
.lat_b{
	font-family: font-family: 'Lato', sans-serif;
	font-weight: 500;
}
/*slider end*/
/*feature start*/
.f_con {
	display: flex;
	justify-content: space-between;
}
.f_left, .f_right {
  flex: 1;
}
.f_left h2.f_h2s, .f_right h2.f_h2s {
	margin-top: -70px;
    margin-left: -10px;
    margin-bottom: 76px;
}
.f_h2s{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 36px;
	color: black;
}
.f_h2{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	color: black;
}
.figure {
    margin: 0px 8px 102px 0;
    padding: 48px 20px 50px 20px;
    box-sizing: border-box;
    border: 1px solid #eee;
}
.fig_cap{
	color: black;
}
.f_h2k{
  display: block;
}
.m_top{
	margin-top: 50px;
}
/*feature end*/
/*about us starts*/
.about_u{
	padding: 70px 70px 70px 70px;
	background-color: #F4F0F8;
}
.col-lg-6:first-child .progress-bar {
	height: 30px;
	position: relative; 
	background-color: #fff; 
	border: 1px solid #ddd; 
	overflow: hidden; 
}
.col-lg-6:first-child .progress-bar-yellow,
.col-lg-6:first-child .progress-bar-purple,
.col-lg-6:first-child .progress-bar-white {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.col-lg-6:first-child .progress-bar-yellow {
	width: 40%;
	background-color: #FFD050; 
}
.col-lg-6:first-child .progress-bar-purple {
	width: 30%;
	left: 40%;
	background-color: #592EA9; 
}
.col-lg-6:first-child .progress-bar-white {
	width: 30%;
	left: 70%;
	background-color: #fff; 
}
.col-lg-6:first-child h3,
.col-lg-6:first-child p,
.col-lg-6:first-child a {
	margin-top: 15px;
}
/*about us ends*/
/*category start*/
.c_text{
	margin-bottom: 50px;
}
.sv_item{
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #8e8e8e;
	transition: .33s;
}
.sv_item:hover {
	border: 1px solid #333333;
	background-color: #FFD050;
}
.sv_item:hover .sv_icon i{
	color: #333333;
}
.sv_item:hover .sv_a{
	color: #333333;
}
/*category ends*/
/*why we started*/
.mainRunner {}
.img1 {
  position: relative;
  z-index: 1;
}
.img2 {
	margin-top: -480px;
    margin-left: 545px;
	background-color: white;
  	position: relative;
  	z-index: 2;
  	top: -12px;
  	left: -12px;
}
.wrappers{
	box-sizing: border-box;
	padding: 100px;
}
.wrappers h3{
	font-size: 16px;
}
.box_shape{
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid black;
}
.box_shape_1{
	background-color: #F4F4F4;

}
.box_shape_2{
	background-color: #FBF6EA;

}
.box_shape_3{
	background-color: #E6FFFD;

}
.box_shape_4{
	background-color: #FDF4F5;

}
.box_p{
	color: #232536;
}
.box_shape img{
	margin-left: 65px;
	margin-bottom: 20px;
}
.box_shape i{
	margin-left: 38px;
	color: #232536;
}
/*why we started end*/
/*marquee start*/
.scrolling-container {
  overflow: hidden;
  white-space: nowrap;
}
.scrolling-content {
  display: inline-block;
  animation: scrollLeft 30s linear infinite; /* Adjust the duration as needed */
  position: relative;
  left: 0;
}

@keyframes scrollLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.z_index{
	margin-bottom: -30px;
	z-index: 1;
}
.btn_white{
	background-color: #fff;
}
.col_wh h2{
	background-color: white;
}
/*marquee end*/
/*testtimonial start*/
.testimonial_1 {
	padding: 120px;
	background-color: #FBF6EA;
	border: 1px solid #ddd;
	overflow: hidden;
}
.upwards_backwards{
	margin-left: 638px;
}
.prev2, 
.next2{
	color: black;
}
/*testtimonial end*/
.wrapper3 {
  	position: relative;
  	margin-top: 3%;
  	padding: 20px;
	height: 63vh;
  	background-color: #FBF6EA;
}
.section-header {
	position: relative;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
}
.section-header::after {
	content: "";
	height: 4px;
	width: 400px;
	position: absolute;
	bottom: 0;
	left: calc(84% - 50%);
	background: #FCA737;
}
.testimonial-view {
	max-width: 900px;
	padding: 0 15px 50px;
	margin: 0 auto 70px auto;
	border-radius: 3px;
}
.block {
	margin: 50px 50px;
    padding: 80px 15px 15px;
	background-color: #fff;
	color: #333;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
}
.block,
.row {
	display: flex; /* Changed display to flex */
	flex-wrap: wrap; /* Added flex-wrap to handle responsiveness */
}
.user {
	margin-bottom: 30px;
	text-align: center;
}
.img {
	position: relative;
	margin: 0 15px 30px 15px;
}
.user-name {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
}
.user-name::after {
	content: "";
	height: 4px;
	width: 50px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 25px);
	background: #FCA737;
}
.content {
	text-align: center;
	font-size: 18px;
	flex: 1;
}
.carousel-control-prev{
	left: -50px;
}
.carousel-control-next{
	right: -50px;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon{
	width: 40px;
	height: 40px;
}
/*join team start*/
.space_left_a {
  padding: 30px;
}

.button-container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.button-container .btn {
  background-color: #FFD050;
}

.join_team {
	margin-bottom: 16px;
  	text-align: center;
}

.join_team .subtext,
.join_team_tc .subtext {
	margin-bottom: 18px;
  display: block;
}
/*join team end*/
/*footer start*/
.footer_top{
	background-color: #232536;
	padding-bottom: 8px;
}
.c_nav2{
	padding-bottom: 0;
}
.logo2{
	padding: 28px 35px 8px 0 !important;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.nav_toggle2{
	box-shadow: none;
}
.nav-id2{}
.menu2{}
.menu2 ul{}
.menu2 ul li{}
.menu2 ul li a{
	padding: 28px 35px 8px 0 !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px; 
	color: #fff !important;
	transition: .33s;
}
.menu2 ul li a:hover{
	color: #592EA9 !important;
}
.menu2 ul li:last-child a{
	padding-right: 0 !important;
}
/*footer_mid*/
.wrapper4 {
    position: relative;
    margin-top: 3%;
    padding: 20px;
    margin-bottom: 50px;
    height: 30vh;
    background-color: #2F2F3F;
}
.f_mid_pad{
    padding: 46px;
    margin-top: 65px;
}
.footer_mid .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Center-align the text within <h2> */
.footer_mid h2 {
}

/* Make the <span> tag below the <h2> */
.footer_mid .subtext {
  display: block;
}
.f_mid_col1 {
    margin-left: 480px;
    margin-top: -112px;
}
.f_mid_col2{
	margin-left: 1000px;
    margin-top: -80px;
	height: 112px;
}
.f_mid_email{
	border-radius: 0;
    width: 386px;
    height: 48px;
    margin-right: 100px;
}
.f_mid_a{
	background-color: #FFD050;
}
/*footer_last_start*/
.f_last{
	margin-top: -16px;
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
}
.f_icon {
	font-size: 20px;
	margin-top: -50px;
    margin-bottom: 40px;
    margin-left: 1126px;
}
.f_icon a i{
	margin-left: 26px;
	color: #6D6E76 !important;
	transition: .33s;
}
.f_icon a i:hover{
	color: #FFFFFF !important;
}
/*footer_last_end*/
/*footer end*/
